<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>


<%= form_for @service, url: @services_path do |f| %>
<p>
  <%= f.label :address %> 
  <%= f.text_field :address%>
</p>
<p>
  <%= f.label :city %> 
  <%= f.text_field :city%>
</p>
<p>
  <%= f.label :current_user %> 
  <%= f.text_field :user_id%>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>