<%= link_to "Create a Service", new_service_path%>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @services.each do |service| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src=<%=service.image%> alt="Card image cap">
              <div class="card-body">
                <h1><%=link_to service.name, service_path(service) %></h1>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%=link_to 'View', service_path(service) %></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%=link_to 'Cart', pages_checkout_path %></button>
                  </div>
                </div>   
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

           
 
 
