<h1><%= @service.user.name%></h1>

<div>Address: <%= @service.address%></div>
<div>City: <%= @service.city%></div>

<br>
<br>

<%= link_to "back", services_path %> | <%= link_to "edit", edit_service_path(@service) %> 