<div class="container">    
		<div class="row panel panel--styled">			
					<div class="col-md-12 panelTop">	
						<div class="col-md-4">	
						  <img class="img-responsive dog-image" src=<%= @service.image%> alt=""/>
						</div>
						<div class="col-md-8">	
						  <h2><%=@service.name%></h2>
							<p>Lorem ipsum dolor sit amet, altera propriae iudicabit eos ne. Vel ut accusam tacimates, prima oratio ius ea. Et duo alii verterem principes, te quo putent melius fabulas, ei scripta eligendi appareat duo.</p>
							</div>
					</div>
					<div class="col-md-12 panelBottom">
						<div class="col-md-4 text-center">
							<button class="btn btn-lg btn-add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span>   Add to Cart</button>						
						</div>
						<div class="col-md-4 text-left">
							<h5>Price <span class="itemPrice"><%=@service.pkg_amount%></span></h5>
						</div>
						<div class="col-md-4">
							<div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
							</div>
						</div>
					</div>
				</div>


<%= link_to "back", services_path %> | <%= link_to "edit", edit_service_path(@service) %> 