<h1 class=" maintitle display-3">All Walkers</h1>
  <div class="row"></div>
    <div class="card-deck">
      <% @walkers.each do |walker| %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="width: 25rem;">
          <img class="card-img-top" src=<%= walker.image %> alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title"><%= walker.user.name %> </h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <strong>EXPERIENCE:</strong> <%= walker.experience %>  </li>
              <li class="list-group-item"><strong>OWN_DOGS?: </strong><%= walker.own_dog %>  </li>
            </ul>
            <div class="card-body">
              <button type="button" class="btn btn-md btn-outline-secondary"><%= link_to "view", walker_path(walker)%></button>   
            </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>




