<div class="container">
  <div class="card">
    <div class="card-header walkhead">
    <h3><%=@walker.user.name%></h3>
    <h3>Role: <%=@walker.user.role%> 
    </div>
    <div class="card-body profile">
      <div class="col-xl-7">
        <img src=<%= @walker.image%> alt="user" class="walker-image">
      </div>
      <div class="content">
        <ul class="content-list">
          <li><strong>Age:</strong> <%= @walker.age %></li>
          <li><strong>Experience:</strong> <%= @walker.experience %></li>
          <li><strong>Rating:</strong> <%= @walker.rating %></li>
          <button type="button" class="btn btn-primary buttons"><%= link_to 'book', appointments_path %></button>
          <button type="button" class="btn btn-warning buttons"><%= link_to 'add notes', invoices_path %></button>
        </ul>
      </div>
    </div>
  </div>
 </div>
          
<p><%= link_to "home", root_path, class: "mt-3 white-color" %> | <%= link_to "edit", edit_walker_path(@walker), class: "mt-3 white-color" %> </p>