<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>
<form>
<%= form_for @invoice, url: @invoices_path do |f| %>

<div class="control-group">
  <%= f.label :amount, class: "control-label" %> 
  <%= f.text_field :amount, class:"form-control input-md", name: 'amount', placeholder: 'amount'%>
</div> 
<div class="control-group">
  <%= f.label :walked, class: "control-label" %> 
  <%= f.text_field :walked, class:"form-control input-md", name: 'walked', placeholder: 'walked'%>
</div> 
<div class="control-group">
  <%= f.label :walk_rating, class: "control-label" %> 
  <%= f.text_field :walk_rating, class:"form-control input-md", name: 'walk_rating', placeholder: 'walk rating'%>
</div> 

<br>
<div class="control-group">
<%= f.label :notes, class: "control-label" %>           
<textarea name="notes" class="form-control input-md" placeholder= 'notes'></textarea>
</div>
<br> <br>
<div class="control-group">
  <%= f.label :owner_notes, class: "control-label" %> 
  <textarea name="owner_notes" class="form-control input-md" placeholder= 'owners notes'></textarea>
</div>
<br> <br>
<div class="control-group">
 <%= f.label :walker_notes, class: "control-label" %>             
<textarea name="walker_notes" class="form-control input-md" placeholder= 'walkers notes'></textarea>
</div>
<br> 

<%=f.submit 'Confirm', class: "btn btn-success btn-lg"%>
<% end %>
</form>