<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>
<%= form_for @invoice, url: @invoices_path do |f| %>
<p>
  <%= f.label :amount %> 
  <%= f.text_field :amount%>
</p>
<p>
  <%= f.label :walked%> 
  <%= f.text_field :walked%>
</p>
<p>
  <%= f.label :walk_rating %> 
  <%= f.text_field :walk_rating%>
</p>
<p>
  <%= f.label :notes %> 
  <%= f.text_field :notes%>
</p>
<p>
  <%= f.label :owner_comments %> 
  <%= f.text_field :owner_comments%>
</p>
<p>
  <%= f.label :walker_comments %> 
  <%= f.text_field :walker_comments%>
</p>
<p>
  <%= f.label :appointment_id %> 
  <%= f.text_field :appointment_id%>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>