<%= form_for @owner, url: @owners_path do |f| %>
<p>
  <%= f.label :address %> 
  <%= f.text_field :address%>
</p>
<p>
  <%= f.label :city %> 
  <%= f.text_field :city%>
</p>
<p>
  <%= f.label :current_user %> 
  <%= f.text_field :user_id%>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>