<div class="container">
  <h1><%= @owner.user.name%></h1>
  <div>Address: <%= @owner.address%></div>
  <div>City: <%= @owner.city%></div>


  <button type="button" class="btn btn-success buttons"><%= link_to "add dog", new_dog_path %></button>


  <p><%= link_to "back", login_path, class: "mt-3 white-color"  %>   |  <%= link_to "edit", edit_owner_path(@owner), class: "mt-3 white-color"  %> </p>


  <div class="card ocard" style="width: 20rem;">
    <img src=<%= @owner.image%> class="card-img-top" alt="...">
    <div class="card-body"><h5 class="card-text">Furry Friends </h5></div>
      <ul class="list-group list-group-flush">
        <% @owner.dogs.each do |dog| %>
          <li class="list-group-item"><%= link_to dog.name, dog_path(dog) %>   <span className="appointment-notificatiion"><i class="far fa-calendar-check"></i></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


