<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>

<%= form_for @dog, url: @dogs_path do |f| %>
<p>
  <%= f.label :name %> 
  <%= f.text_field :name%>
</p>
<p>
  <%= f.label :age%> 
  <%= f.text_field :age%>
</p>
<p>
  <%= f.label :breed %> 
  <%= f.text_field :breed%>
</p>
<p>
  <%= f.label :size %> 
  <%= f.text_field :size%>
</p>
<p>
  <%= f.label :restrictions %> 
  <%= f.text_field :restrictions%>
</p>
<p>
  <%= f.label :friendliness %> 
  <%= f.text_field :friendliness%>
</p>
<p>
  <%= f.label :image %> 
  <%= f.text_field :image%>
</p>
<p>
  <%= f.label :owner_id %> 
  <%= f.text_field :owner_id%>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>