<div class='spacemaker'></div>
<section id="dogs">
<h1 class="display-4 main-title">Our Furry Companions</h1>
<% unless current_user.walkers[0].id %>
  <%= link_to "Create a Dog", new_dog_path, class: " mt-3 white-color"%>
<% end %>
<div class="row">
  <div class="card-deck">
    <% @dogs.each do |dog| %>
      <div class="col-md-4">
        <div class="card" style="width: 25rem;">
        <img class="card-img-top" src=<%= dog.image %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= dog.name %> </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: <%= dog.age %>  </li>
            <li class="list-group-item">Breed: <%= dog.breed %>  </li>
          </ul>
          <div class="card-body">
           <button type="button" class="btn btn-md btn-outline-secondary"><%=link_to 'view', dog_path(dog), class: 'green-color' %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</section>



