<h1><%= @dog.user.name%></h1>

<div>name: <%= @dog.name%></div>
<div>age: <%= @dog.age%></div>
<div>breed: <%= @dog.breed%></div>
<div>size: <%= @dog.size%></div>
<div>restrictions: <%= @dog.restrictions%></div>
<div>friendliness: <%= @dog.friendliness%></div>
<div>image: <%= @dog.image%></div>
<div>owner_name <%= @dog.owner.user.name%></div>


<br>
<br>

<%= link_to "back", dogs_path %> | <%= link_to "edit", edit_dog_path(@dog) %> 