<h1><%= @user.name%></h1>

<div>Address: <%= @user.username%></div>
<div>City: <%= @user.email%></div>

<br>
<br>
<div class="buttons">
<button type="button" class="btn btn-outline-success bright"><%= link_to "create owner", new_owner_path %></button> | <button type="button" class="btn btn-outline-success bright"><%= link_to "create walker", new_walker_path %></button>

 