<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><%= @title %></h3>
      <nav class="nav nav-masthead justify-content-center">
           <%=link_to "Home", root_path, class: 'nav-link' %>
           <%=link_to "Services", services_path, class: 'nav-link' %>
           <%=link_to "Owners", owners_path, class: 'nav-link' %>
           <%=link_to "Walkers", walkers_path, class: 'nav-link' %>
           <%=link_to "Pets", dogs_path, class: 'nav-link' %>
           <%=link_to "Appointments", appointments_path, class: 'nav-link' %>
           <%=link_to "Invoices", invoices_path, class: 'nav-link' %>
           <%=link_to "Checkout", pages_checkout_path, class: 'nav-link' %>
           <%=link_to "Contact", pages_contact_path, class: 'nav-link' %>
          </nav>
        </div>
      </header>

      
 