<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>
<section class="appointment"> 
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well-block">
          <div class="well-title">
            <h2 class="display-5">Questions? Book an Appointment</h2>
          </div>
          <hr>
            <!-- Form start -->
          <div class="feature-block">
          <%= form_for @appointment,  :html => {class: "feature block"}, url: @appointments_path, method: 'POST' do |f| %>
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :date, class: "control-label" %> 
                <%= f.date_field :date, class:"form-control", placeholder: 'date' %>
              </div>
            </div>
                <!-- Text input-->
            <div class="col-sm-12">
              <div class="form-group">
              <%= f.label :start_time, class: "control-label" %> 
              <%= f.time_field :start_time, class:"form-control", placeholder: 'time'%>
              </div>
            </div>

              <!-- Text input-->
            <div class="col-sm-12">
              <div class="form-group">
              <%= f.label :status, class: "control-label" %> 
              <%= f.select :status, Appointment.statuses.keys, {value: "pending"}, {class: "form-control"}  %>
              </div>
            </div>
          
            <div class="col-sm-12">
              <div class="form-group">
              <%= f.label :pet, class: "control-label" %> 
              <%=f.collection_select :dog_id, Dog.all, :id, :name, {}, {:class => 'form-control'} %>
              </div>
            </div>
          
              <!-- Select Basic -->
            <div class="col-sm-12">
              <div class="form-group">
              <%= f.label :services, class: "control-label" %> 
              <%=f.collection_select :service_id, Service.all, :id, :name, {}, {:class => 'form-control'} %>
              </div>
            </div>
              

            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :walker_id %>
                <%= f.collection_select :walker_id, Walker.all, :id, :age, {}, {:class => 'form-control'}  %>
              </div>
            </div>
              <!-- Button -->
            <%= f.submit class: "btn btn-secondary btnform" %>
            <% end %>
          </div>
  <!-- form end -->
  </div>
  </div>
  <div class="col-md-6">
  <div class="well-block">
  <div class="well-title">
  <h2 class="display-5">Why Appointment with Us</h2>
  </div>
  <hr/>
  <div class="feature-block">
  <div class="feature feature-blurb-text">
  <h4 class="feature-title">24/7 Hours Available</h4>
  <div class="feature-content">
  <p class="white-color">Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies quis vehicula et, iaculis in magnestibulum.</p>
  </div>
  </div>
  <div class="feature feature-blurb-text">
  <h4 class="feature-title">Experienced Staff Available</h4>
  <div class="feature-content">
  <p class="white-color">Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum quis feugiat risus. </p>
  </div>
  </div>
  <div class="feature feature-blurb-text">
  <h4 class="feature-title">Low Price & Fees</h4>
  <div class="feature-content">
  <p class="white-color" >Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer auctor elementum nulla suscipit in.</p>
  </div>
<div class="redirects">
   <%= link_to "go back home", root_path(root_path), class: "white-color mt-3" %> 
</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>