<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>

<%= form_for @appointment, url: @appointments_path do |f| %>
<p>
  <%= f.label :date %> 
  <%= f.date_field :date%>
</p>
<p>
  <%= f.label :start_time%> 
  <%= f.time :start_time%>
</p>
<p>
  <%= f.label :status %> 
  <%= f.text_field :status%>
</p>
<p>
  <%= f.label :dog_id %> 
  <%= f.text_field :dog_id%>
</p>
<p>
  <%= f.label :walker_id %> 
  <%= f.text_field :walker_id%>
</p>
<p>
  <%= f.label :service_id %> 
  <%= f.text_field :service_id%>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>