<% if @errors.present? %>
  <div class="errors">
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<%end%>
 
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="well-block">
        <div class="well-title">
          <h2>Questions? Book an Appointment</h2>
        </div>
        <form>
          <!-- Form start -->
        <div class="row">
        <%= form_for @appointment, url: @appointments_path do |f| %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :date, class: "control-label" %> 
              <%= f.date_field :date, class:"form-control input-md", name: 'date', placeholder: 'date' %>
            </div>
          </div>
              <!-- Text input-->
          <div class="col-md-6">
            <div class="form-group">
             <%= f.label :start_time, class: "control-label" %> 
             <%= f.time_field :start_time, class:"form-control input-md", name: 'start_time', placeholder: 'time'%>
            </div>
          </div>
            <!-- Text input-->
          <div class="col-md-6">
            <div class="form-group">
             <%= f.label :status, class: "control-label" %> 
              <select name="status" class="form-control">
                <option value="pending">pending</option>
                <option value="cancelled">cancelled</option>
                <option value="confirmed">confirmed</option>
                <option value="completed">completed</option>
              </select>
            </div>
          </div>
         
              <!-- Select Basic -->
          <div class="col-md-6">
            <div class="form-group">
             <%= f.label :pet, class: "control-label" %> 
             <%= f.text_field :dog_id, class:"form-control input-md", name: 'dog_id', placeholder: 'pet name'%>
            </div>
          </div>
            <!-- Select Basic -->
          <div class="col-md-12">
            <div class="form-group">
             <%= f.label :services, class: "control-label" %> 
              <select  name="services" class="form-control", placeholder="choose services">
                <option value="Service#2">Walking</option>
                <option value="Service#3">Daycare</option>
                <option value="Service#4">Inhome</option>
                <option value="Service#4">Overnight</option>
              </select>
            </div>
          </div>
            <!-- Select Basic -->
          <div class="col-md-12">
            <div class="form-group">
             <%= f.label :walkers, class: "control-label" %> 
              <select  name="walker_id" class="form-control", placeholder="choose walker">
                <option value="Service#2">Walker 1</option>
                <option value="Service#3">Walker 2</option>
                <option value="Service#4">Walker 3</option>
                <option value="Service#4">Walker 4</option>
              </select>
            </div>
          </div>
            <!-- Button -->
          <%= f.submit class: "btn btn-primary" %>
          <% end %>
        </div>
      </form>
<!-- form end -->
</div>
</div>
<div class="col-md-6">
<div class="well-block">
<div class="well-title">
<h2>Why Appointment with Us</h2>
</div>
<div class="feature-block">
<div class="feature feature-blurb-text">
<h4 class="feature-title">24/7 Hours Available</h4>
<div class="feature-content">
<p>Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies quis vehicula et, iaculis in magnestibulum.</p>
</div>
</div>
<div class="feature feature-blurb-text">
<h4 class="feature-title">Experienced Staff Available</h4>
<div class="feature-content">
<p>Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum quis feugiat risus. </p>
</div>
</div>
<div class="feature feature-blurb-text">
<h4 class="feature-title">Low Price & Fees</h4>
<div class="feature-content">
<p>Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer auctor elementum nulla suscipit in.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
