<div class="container">
  <div class="row">
    <div class="col-md-9">
        <h1 class="display-4 well-title main-title">Scheduled Appointment</h1>
        <hr class="well-title"/>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-container">
            <table class="table table-filter">
              <tbody>
                <tr data-status="pagado">
                  <td >
                    <div class="media">
                      <img src=<%= @appointment.dog.image %> class="invoice-image">
                        <div class="media-body">
                          <span class="media-meta pull-right"><%= @appointment.date %></span>
                          <h4 class="title"><%= @appointment.dog.name %></h4>
                            <ul class="list">
                              <li><strong>SERVICE:</strong> <%= link_to @appointment.service.name, service_path(@appointment.service)%></li>
                              <li><strong>START TIME:</strong> <%= @appointment.start_time%></li>
                              <li><strong>STATUS:</strong> <%= @appointment.status%></li>
                              <li><strong>WALKER:</strong> <%= link_to @appointment.walker.user.name, walker_path(@appointment.walker)%></li>
                            </ul>
                            <button type="button" class="btn btn-success"><%= link_to 'back', new_appointment_path, class: 'white-color' %></button>
                            <button type="button" class="btn btn-primary"><%= link_to 'edit', edit_dog_appointment_path(@appointment.dog), class: 'white-color' %></button>
                            <% if @appointment.invoice == nil%>
                               <button type="button" class="btn btn-warning"><%= link_to 'add notes', new_invoice_path, class: 'white-color' %></button>
                            <% else %>
                              <button type="button" class="btn btn-warning"><%= link_to 'add notes', invoice_path(@appointment.invoice.id), class: 'white-color' %></button>
                            <% end %>
                        </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

